* {
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    width: 100%;
    height: 75px; 
    background-color: #f3f3f3;
    color: black;
}

hr {
    border: 1px #f3f3f3 solid;
}

.second-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: lightgray;
    color: black;
}

.second-header input {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    line-height: 1.3rem;
}

a:hover {
    color: slateblue;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    color: black;
}

.h2-less-margin {
    margin: 1rem 0 0;
}

p {
    color: #444;
}

label {
    color: black;
}

textarea {
    background: #f3f3f3;
    border: none;
    border-radius: 1rem;
    width: 100%;
    outline: none;
    padding: 1.5rem;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}


.nav {
    display: flex;
    align-items: center;
}

.ul-list {
    word-wrap: normal;
}

.ul-list li{
    display: inline-block;
}

.ul-list-skills {
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.ul-list-skills a {
    padding: 0;
    margin: 0;
}

.skill-button {
    background: lightgrey;
    border: none;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: white; 
    margin: 0;
}

input {
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    border-radius: 2rem; 
    color: black;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1rem;
}

input[type='submit'] {
    background: #444;
    color: white;
    width: auto;
    padding: 0.75rem 1.5rem;
    margin: 0;
    line-height: 1.3rem;
}

input:focus {
    outline: none;
}

button {
    background: slategray;
    border: none;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: white;
    font-size: 1rem;
}

.button {
    background: #444;
    border: none;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: white !important;
    cursor: pointer;
}

.button-signup {
    display: block;
    background: #444;
    border: none;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: white;
    font-size: 1rem;
    margin-right: 1rem;
}

.button-accept {
    background: none;
    border: none;
    border-radius: 2rem;
    color: black;
    margin: 0.1rem 0;
    text-align: center;
}

.button-reject {
    background: none;
    border: none;
    border-radius: 2rem;
    color: lightcoral;
    margin: 0.1rem 0;
    text-align: center;
}

.status-button {
    background: none;
    border: none;
    border-radius: 2rem;
    padding: .75rem 1.5rem;
    color: lightgrey;
    margin: 0.1rem 0;
    border: solid 1px #f3f3f3;
}

.message-container {
    position: fixed;
    width: 100%;
    background-color: #444;
    color: white;
    padding: 0 1rem;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    bottom: 0;
    transform: translateY(100%);
}

.message-container ul {
    padding: 0;
}

.message-container li {
    color: white;
    text-align: center;
    list-style: none;
    padding: none;
    margin: none;
}

@keyframes example {
    0% {transform: translateY(100%)}
    15% {transform: translateY(0%)}
    85% {transform: translateY(0%)}
    100% {transform: translateY(100%)}
  }

  .errorlist {
      color: lightgray;
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
      font-style: italic;
  }

.bounds {
    width: 100%;
    padding: 0 1.5rem;
}

.search {
    position: relative;
    margin: 0;
    width: 100%;
}


.search-bar {
    margin: 0;
}

.search button {
    position: absolute;
    right: 1.75rem;
    transform: translateX(50%);
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    padding: 0;
    background: none;
    color: lightgrey;
}

.search input{
    background-color: white;
}

.top-button-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 1rem 0;
}

.top-button-container .button {
    margin-left: .5rem;
}

.flex-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    padding: 0 1.5rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 75px);
}

.register-form h2 {
    margin-top: 0;
}

.register-form input:not([type='submit']) {
    width: 85%;
}

.register-form input[type='password']:last-of-type {
    margin-bottom: 2rem;
}

.token {
    font-weight: 900;
    color: slateblue; 
    border: 2px dashed slateblue;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 75px);
}

.login-form input:not([type='submit']) {
    width: 85%;
}

.check-inbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 75px);
}

.flex-item {
    height: 100%;
}

.profile-pic {
    height: 45px;
    border-radius: 50%;
} 

.application-card-profile-pic {
    height: 45px;
    border-radius: 50%;
} 

.dashboard-project-needs {
    text-align: center;
    margin: 3rem 0;
}

.dashboard-project-needs ul, li {
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    line-height: 2rem;
}

.projects-container {
    background: rgba(0,0,0, 0.09);
    width: 100%;
    padding: 1rem;
}

.projects-header {
    display: flex;
    justify-content: center;
}

.project-card {
    background-color: white;
    padding: 1.5rem;
    border-radius: .25rem;
    color: grey;
}

.project-card h3 {
    color: black;
}

.role {
    color: grey;
}

.project-needs-list {
    text-align: center;
    margin: 0;
    padding: 0;
}

.project-needs-list li {
    display: inline;
    line-height: 2rem;
}

.position-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.25rem;
    color: grey;
    margin-bottom: 2rem;
}


.position-card h3 {
    color: black;
}

.position-card .button {
    margin: 1rem 0;
}

.positions-container {
    background: lightgrey;
    width: 100%;
    padding: 2rem;
}

.positions-header {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}


.project-body {
    text-align: left;
}

.position-skill {
    color: grey;
}

.skill-text {
    color: grey;
}

.position-description {
    text-align: center;
}

.project-needs-container {
    margin: 1rem 0;
}

.project-needs-container h3 {
    text-align: center;
}

.project-description-container {
    text-align: center;
}

.project-spacer {
    margin: 3rem 0;
}

.project-title-container {
    background: #f3f3f3;
    width: 100%;
    padding: 1rem 0;
}

.project-title-container h3, h1, p {
    text-align: left;
    margin: 0;
    padding: 0.3rem 0;
    color: #444;
}

.project-title-container h1 {
    color: black;
}

.project-timeline {
    margin: 3rem 0;
}

.applicant-req {
    margin: 3rem 0;
}

.project-info-edit-container textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.markdownx-preview {
    background: lightgrey;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem;
}

.markdownx-preview:before {
    content: "markdown preview here";
    color: #f3f3f3;
    font-style: italic;
}

.markdownx-preview p {
    color: white;
}

.positions-edit-container {
    margin-top: 4rem;
}

.center-text-wrapper {
    text-align: center;
}

.position-edit-card {
    padding: 1rem 0 .5rem;
}

.position-edit-card:nth-child(odd) {
    background-color: rgba(0,0,0, 0.09)
}

.position-edit-card a {
    display: inline-block;
    margin: 1rem 0;
}

.position-edit-card textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.remove-button-wrapper {
    text-align: right;
}

.position-edit-card select {
    margin: 1rem 0;
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

.select2-container--default .select2-selection--multiple {
    border: none;
    margin : 1rem 0 0;
    background-color: #f3f3f3;
    padding: 1.5rem 0.25rem .5rem;
    border-radius: 1rem;
    /* width: 500px; */
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: lightgrey;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: none;
    background-color: white;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    margin: .3rem 0.3rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: black;
    margin-right: 0.5rem;
}

.dropdown-wrapper {
    background: red;
}

.select2-results__options {
    background-color: #f3f3f3;
}

.select2-results__option--highlighted {
    background: red;
}

#project-edit-title {
    margin-top: 1rem;
}

.select2-container--default .select2-selection--multiple::before {
    content: "search for and add skills";
    font-style: italic;
    color: lightgrey;
    padding: 1rem;
}

.project-status {
    background-color: slategrey;
    padding: 1rem 0 2rem;
    outline: none;
}

#id_status {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
}

.project-edit-secondary-info {
    padding-bottom: 2rem;
}

.inbox-count-wrapper {
    background-color: slategray;
}

.inbox-count {
    color: slateblue;
}

.selected {
    color: slateblue;
}

.selected-button {
    background-color: lightgrey;
}

#application-profile-button {
    margin-right: 1rem;
}

.application-card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: .25rem;
    color: grey;
    margin: 1rem 0;
}

.application-card h3 {
    color: black;
}

.application-pic {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.application-info {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.25rem;
    padding-right: 1rem;
}

.application-info h3 {
    margin: 0.25rem 0;
    margin-top: 0;
}

.application-card p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: grey;
}

.application-buttons {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #f3f3f3;
    padding-left: 1rem;
}

.application-buttons p {
    padding-top: 0.5rem; 
}

.applications-header {
    display: flex;
}

.applications-header h4:first-child {
    flex: 7;
}

.applications-header h4:last-child {
    flex: 2;
    text-align: center;
}

.profile-profile-pic {
    height: 115px;
    border-radius: 50%;
}

.profile-edit-pic {
    height: 136px;
    border-radius: 50%;
}

.avatar-wrapper {
    position: relative;
    width: 136px; 
    height: auto;
}

/* label.label::after {
    position: absolute;
    content: "here";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0,0,0, 0.1);
    padding: 0.75rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
} */

.pencil-wrapper {
    position: absolute;
    background-color: lightgrey;
    bottom: 5%;
    right: 5%;
    padding: .5rem 0.60rem;
    border-radius: 2rem;
    cursor: pointer;
}


.text-link {
    text-decoration: underline;
    color: slateblue;
    font-weight: bold;
}

.profile-center-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-center-ul ul {
    padding: 0;
}

.profile-center-ul li {
    padding: 0;
    margin: 0;
}

.signup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    width: 100%;
}

.modal-dialog {
    margin: 1rem;
}

.modal-content {
    border-radius: 1rem;
    border: none;
}

.status-A {
    color: white;
    background: lightgreen;
    padding: .25rem .75rem;
}

.status-B {
    color: white;
    background: lightcoral;
    padding: .25rem .75rem;
}

.status-C {
    color: white;
    background: #444;
    padding: .25rem .75rem;
}


