{% extends 'layout.html' %}

{% load static %}
{% load markdown_deux_tags %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}

{% block body %}
<form method='POST'>
{% csrf_token %}
    

<div class="bounds">
    <div class="top-button-container">  
        <input class="bubble-dark" type="submit" action="" value="Save Project">
        <a class="bubble-dark" href="{% url 'projects:dashboard' category='all' q='all' %}">Discard</a>
    </div>
</div>
    
  {{ project_form.errors }}
  {{ project_form.media }}

  <div class="bounds">
    <h2>Edit Project</h2>
    <div class="profile-desktop-wrapper">
      <div class="card">
        {{ project_form.title }}
        {{ project_form.description }}
      </div>
    </div>
  
  <div class="project-status project-status-{{ project_form.status.value }}">
    <div class="card">
        <h3>Project Status</h3>
        {{ project_form.status }}
    </div>
  </div>

      <div class="card">
          <h3>Project Timeline</h3>
          {{ project_form.time_estimate }}
      </div>
      <div class="card">
        <h3>Applicant Requirements</h3>
        {{ project_form.applicant_requirements }}
      </div>

</div>
      
<div class="bounds">
      <div class="positions-edit-container" id="positions-container">
      
        <h2>Positions</h2>
        <!-- Positions -->
        <div class="card">
            {{ position_formset.management_form }}
            {% for position_form in position_formset %}
            <div class="position-edit-card" style="display:block">
            
            {{ position_form.id }}
            {{ position_form.title}}
            {{ position_form.description }}
            {{ position_form.skills }}
            {{ position_form.time_estimate }}
            <span style="display:none">
                {{ position_form.DELETE }}
            </span>
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <div class="top-button-container">
              <a class="bubble-dark remove-form"><i class="fas fa-trash-alt"></i> remove</a>
            </div>
         
          </div>
          {% endfor %}
    </div>
  </div>
<!-- /Positions -->


      </div>
      <!-- Add position form -->
  <div class="bounds">
      <div class="top-button-container">
          <a class="bubble-dark" id="add_form"><i class="fas fa-plus"></i>  add position</a> 
      </div>
  </div>    
<!-- /Add position form -->
    

      <!-- Empty position form to clone -->
      <div id="empty_form" style="display:none">
          <div class="card position-edit-card" style="display:block">
            
              {{ position_formset.empty_form.id }}
              {{ position_formset.empty_form.title }}
              {{ position_formset.empty_form.description }}
              {{ position_formset.empty_form.skills }}
              {{ position_formset.empty_form.time_estimate }}
              <span style="display:none">
                  {{ position_formset.empty_form.DELETE }}
              </span>
              {% for hidden in position_formset.empty_form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
              <div class="top-button-container">
                  <a class="bubble-dark remove-form"><i class="fas fa-trash-alt"></i> remove</a>
              </div>
           
          </div>
      </div>
      <!-- /Empty position form to clone -->
   

</form>
</div>
{% endblock %}

{% block js %}
{{ block.super }}

<script>
  // Add Select2 to existing forms
  var total_forms = document.getElementById('id_form-TOTAL_FORMS').value;
  for (let i = 0; i < total_forms; i++) {
    var skillBox = document.getElementById(`id_form-${i}-skills`);
    $(`#id_form-${i}-skills`).select2({
      multiple: true,
      tags: true,
      width: '100%',
      placeholder: 'Position Skills'
    });
  };

  // Remove Form Event Listener
  $(".remove-form").click(function() {
    console.log('remove clicked')
    var parent = $(this).parents(".position-edit-card");
    console.log(parent)
    var index = parent.find("input").attr("id")[8];
    $('#id_form-' + index + '-DELETE').attr('checked', 'checked');
    parent.attr("style", "display:none"); 
    console.log(index)
  })

  // Add new position form
  $('#add_form').click(function() {
    var form_idx = $('#id_form-TOTAL_FORMS').val();
    $('#positions-container').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    let removeButtons = document.querySelectorAll('.remove-form')
    let lastButton = removeButtons[removeButtons.length-2]
    lastButton.addEventListener('click', function(e) {
      console.log('remove clicked')
      var parent = $(this).parents(".position-edit-card");
      console.log(parent)
      var index = parent.find("input").attr("id")[8];
      $('#id_form-' + index + '-DELETE').attr('checked', 'checked');
      parent.attr("style", "display:none"); 
      console.log(index)
    })
    $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    var forms = $('.position-edit-cards').find(".position-edit-card").length;
    if (forms > 10) $('#add_form').attr('style', 'display:none');
  });

  // Add Select2 to newly created form
  var addForm = document.getElementById('add_form');
  addForm.addEventListener('click', function() {
    var allForms = document.querySelectorAll('.position-edit-card');
    console.log('adding select2')
    var newId = allForms.length-2;
    $(`#id_form-${newId}-skills`).select2({
      multiple: true,
      tags: true,
      width: '100%'
    });
    console.log(newId)
  })
</script>

{% endblock %}