{% extends 'layout.html' %}

{% load static %}
{% load markdown_deux_tags %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
{% endblock %}

{% block body %}
<form method='POST'>
{% csrf_token %}
    
<div class="circle--actions--bar">
    <div class="bounds">
      <div class="grid-100">
        
        <input class="button button-primary" type="submit" action="" value="Save Project">
        <a class="button button-text" href="{% url 'projects:dashboard' category='all' q='all' %}">Discard</a>
      </div>
    </div>
  </div>

  {{ project_form.errors }}
  {{ project_form.media }}

  <div class="bounds circle--page circle--article">
    <div class="grid-70">
      <div class="circle--article--body">
        {{ project_form.title }}
        {{ project_form.description }}
      </div>
      
      <!-- Positions -->
      <div class="circle--project--positions" id="positions-container">
        <h2>Positions</h2>
        <div class="project-cards">
        
            {{ position_formset.management_form }}
            {% for position_form in position_formset %}
            <div class="project-card" style="display:block">
            {{ position_form.id }}
            {{ position_form.title}}
            <p></p>
            Description
            {{ position_form.description }}
            <p></p>
            Skills
            {{ position_form.skills }}
            <p></p>
            Time Estimate
            {{ position_form.time_estimate }}
            <span style="display:none">
                {{ form.DELETE }}
            </span>
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            <a class="circle--clone--remove" id="remove_form">- remove</a>
            <hr style="margin:100px 0">
            </div>
            {% endfor %}
        

        <!-- Empty position form to clone -->
        <div id="empty_form" style="display:none">
            <div class="project-card" style="display:block">
                {{ position_formset.empty_form.id }}
                {{ position_formset.empty_form.title }}
                <p></p>
                Description
                {{ position_formset.empty_form.description }}
                <p></p>
                Skills
                <span class="skills-container">
                {{ position_formset.empty_form.skills }}
                </span>
                <p></p>
                Time Estimate
                {{ position_formset.empty_form.time_estimate }}
                <span style="display:none">
                    {{ position_formset.empty_form.DELETE }}
                </span>
                {% for hidden in position_formset.empty_form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <a class="circle--clone--remove" id="remove_form">- remove</a>
                <hr style="margin:100px 0;">
            </div>
        </div>
        <!-- /Empty position form to clone -->

    </div>
    <a class="circle--clone--add" id="add_form">+ add</a> 
      </div>
    </div>
    
    
    
    
    
    <div class="grid-25 grid-push-5">
      <div class="circle--secondary--module project-status-{{ project_form.status.value }}">
        <h3>Project Status</h3>
          {{ project_form.status }}
        <h3>Project Timeline</h3>
        {{ project_form.time_estimate }}
      </div>
      <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        {{ project_form.applicant_requirements }}
      </div>
    </div>
  </div>
</form>



{% endblock %}

{% block js %}



$("#id_form-0-skills").select2({
    multiple: true,
    tags: true
    });
    $("#id_form-1-skills").select2({
        multiple: true,
        tags: true
        });
        $("#id_form-2-skills").select2({
            multiple: true,
            tags: true
            });
            $("#id_form-3-skills").select2({
                multiple: true,
                tags: true
                });
                $("#id_form-4-skills").select2({
                    multiple: true,
                    tags: true
                    });
                    $("#id_form-5-skills").select2({
                      multiple: true,
                      tags: true
                      });
                      $("#id_form-6-skills").select2({
                        multiple: true,
                        tags: true
                        });
                        $("#id_form-7-skills").select2({
                          multiple: true,
                          tags: true
                          });
                          $("#id_form-8-skills").select2({
                            multiple: true,
                            tags: true
                            });
                            $("#id_form-9-skills").select2({
                              multiple: true,
                              tags: true
                              });


$('#positions-container').on('click', '#add_form', function(){
    var form_idx = $('#id_form-TOTAL_FORMS').val(); 

    $( ".project-card" ).each(function( index ) {
        $("#id_form-0-skills").select2({
            multiple: true,
            tags: true
            });
            $("#id_form-1-skills").select2({
                multiple: true,
                tags: true
                });
                $("#id_form-2-skills").select2({
                    multiple: true,
                    tags: true
                    });
                    $("#id_form-3-skills").select2({
                        multiple: true,
                        tags: true
                        });
                        $("#id_form-4-skills").select2({
                            multiple: true,
                            tags: true
                            });
                            $("#id_form-5-skills").select2({
                              multiple: true,
                              tags: true
                              });
                              $("#id_form-6-skills").select2({
                                multiple: true,
                                tags: true
                                });
                                $("#id_form-7-skills").select2({
                                  multiple: true,
                                  tags: true
                                  });
                                  $("#id_form-8-skills").select2({
                                    multiple: true,
                                    tags: true
                                    });
                                    $("#id_form-9-skills").select2({
                                      multiple: true,
                                      tags: true
                                      });
                                      $("#id_form-10-skills").select2({
                                        multiple: true,
                                        tags: true
                                        });
      });
});




  
  // Refresh avatar image on upload //
  $('#id_avatar').change( function(event) {
    var tmppath = URL.createObjectURL(event.target.files[0]);
    $("img").fadeIn("fast").attr('src',URL.createObjectURL(event.target.files[0]));
  
    $("#disp_tmp_path").html("Temporary Path(Copy it and try pasting it in browser address bar) --> <strong>["+tmppath+"]</strong>");
  });
{% endblock %}