{% extends 'layout.html' %}

{% load static %}
{% load project_extras %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block body %}
<div class="bounds">
<div class="top-button-container">
    <a class="bubble-dark" href="{% url 'projects:create_update_project' %}">
        <i class="fas fa-plus"></i>
        New Project
    </a>
  </div>
</div>

<div class="bounds">
<h2 class="h2-less-margin">Projects Dashboard</h2>
<p>find and filter projects to join here</p>
</div>

    <div class="bounds">
      <div class="desktop-wrapper">
        <div class="desktop-wrapper-left">
    <div class="card">
          <h4 class="">Project Needs</h4>
          <ul class="ul-list">
            {% if object_list %}
            {% select_distinct_positions_from_projects as titles %}
            <li class="bubble-outline"><a {% if q == 'all' %}class="selected" {% endif %}
                href="{% url 'projects:dashboard' category='all' q='all' %}">All Needs</a></li>
            {% for title in titles %}
            <li class="bubble-outline"><a {% if q == title|slugify %}class="selected" {% endif %}
                href="{% url 'projects:dashboard' category='need' q=title|slugify %}">{{ title }}</a></li>
            {% endfor %}
            {% endif %}
          </ul>
    </div>
    
          <div class="card">
              <h4 class="">Personalized</h4>
              <ul class="ul-list">
                <li class="bubble-outline"><a {% if q == 'my-skills' %}class="selected" {% endif %}
                    href="{% url 'projects:dashboard' category='skills' q='my-skills' %}">Skills Match</a>
                </li>
                <li class="bubble-outline"><a {% if q == 'my-opps' %}class="selected" {% endif %}
                    href="{% url 'projects:dashboard' category='my-opps' q='my-opps' %}">Open to Apply</a>
                </li>
                <li class="bubble-outline"><a {% if q == 'accepted' %}class="selected" {% endif %}
                  href="{% url 'projects:dashboard' category='accepted' q='accepted' %}">Accepted</a>
              </li>
              </ul>
          </div>
        </div>

        <div class="desktop-wrapper-right">
  
      <div class="card">
          
        <div class="projects-header">
          <h4>Projects</h4>
        </div>
        {% if object_list %}
        <div class="desktop-flex-wrapper">
          {% for project in page_obj %}
            
            <a href="{% url 'projects:project' slug=project.slug %}">
              <div class="mini-card">
                  <h4 class="margin-bottom-0">{{ project.title|title }}</h4>
                  {% with project.position_set.all|length as length %}
                  {% for position in project.position_set.all|slice:":3" %}
                  <span class="italic">{{ position.title }}{% if length > 1 %},{% endif %}</span>
                  {% endfor %}
                  {% if length > 3 %}
                  and {{ project.position_set.all|slice:"3:"|length }} more...
                  {% endif %}
                  {% endwith %}
                </div>
            </a>
          
            {% endfor %}
            <a href=""><div class="project-card hidden"></div></a>
            <a href=""><div class="project-card hidden"></div></a>
            
            <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1"><i class="fas fa-angle-double-left"></i> first </a>
                      <a href="?page={{ page_obj.previous_page_number }}"> previous </a>
                  {% endif %}
          
                  <span class="current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
          
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}"> next </i></a>
                      <a href="?page={{ page_obj.paginator.num_pages }}"> last <i class="fas fa-angle-double-right"></i></a>
                  {% endif %}
              </span>
          </div>
          
            {% else %}
            
              <div class="bounds">
                <div class="desktop-container">
                  <div class="mini-card">
                  <p>There are no {% if query %}<i>"{{ query }}"</i>{% endif%} projects here</p> 
              </div>
            </div>
            {% endif %}
          </div>
          </div>
      </div> 
    </div>
    </div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}

<script>
  const searchBar = document.getElementById('id_q');

  if ( searchBar.value ) {
    searchBar.style.color = '#8875ff';
    searchBar.style.fontWeight = 'bold';
  }
</script>

{% endblock %}