{% extends 'layout.html' %}

{% block body %}
<div class="bounds">
    <div class="card">
        <form method="post">{% csrf_token %}
            <div class="flex-v-container">
                    <h2>Delete project?</h2>
                    <p style="text-align: center">Are you sure you want to delete project <b>{{ object }}</b>? Deleting this project will remove all related positions, including "past projects" records for users that have worked on this project.</p>
                    <div class="center-button-container">
                    <input class="bubble-dark" type="submit" value="Delete">
                    <a class="bubble-dark" href="{% url 'projects:project' slug=object.slug %}">Cancel</a>
                    </div>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}