{% extends 'layout.html' %}

{% block body %}
<div class="bounds">
    <div class="card">
        <form method="post">{% csrf_token %}
            <h2>Delete project?</h2>
            <p>Are you sure you want to delete project "{{ object }}"? Deleting this
                project will remove all related positions, inluding "past project"
                records for users.
            </p>
            <input class="bubble-dark" type="submit" value="Delete">
            <button>Cancel</button>
        </form>
    </div>
</div>
{% endblock %}