{% extends 'layout.html' %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% load markdown_deux_tags %}
{% load project_extras %}
{% csrf_token %}

{% block body %}

<div class="circle--actions--bar">
  <div class="bounds">
    <div class="grid-100">
      <a class="button" href="{% url 'projects:create_update_project' slug=project.slug %}">Edit Project</a>
      <a class="button button-text" href="index.html">Delete Project</a>
    </div>
  </div>
</div>

<div class="bounds circle--page circle--article">
  <div class="grid-70">
    <div class="circle--article--header">
      <h4 class="circle--article--section">Project</h4>
      <h1 class="circle--article--title">{{ project.title }}</h1>
      <p class="circle--article--byline">Project Owner: <a>{{ project.owner }}</a></p>
    </div>

    <div class="circle--article--body">
      <p>{{ project.description|markdown }}</p>
    </div>


    <div class="circle--project--positions">
      <h2>Positions</h2>

      <ul class="circle--group--list">
        {% for position in project.position_set.all %}
        <li>
          <h3 id="{{ position.title }}">{{ position.title }}</h3>
          <p>{% for skill in position.skills.all %}{% if forloop.last %} <a class="skill-text"
              href="{% url 'projects:dashboard' category='skill' q=skill %}">{{ skill }}</a>{% else %} <a
              class="skill-text" href="{% url 'projects:dashboard' category='skill' q=skill %}">{{ skill }}</a>
            |{% endif %}{% endfor %}</p>
          <p>{{ position.description|markdown }}</p>

          <!-- Filled -->
          {% if position.status == 'F' %}
          <a class="button button-primary button-inactive">Position Filled</a>

          <!-- Empty-->
          {% else %}
          {% already_applied position as var %}
          {% if var == True %}
          <a class="button button-primary button-inactive" style="cursor:default">You've applied.</a>
          {% else %}
          <a class="button button-primary apply-button" pk="{{ position.id }}" id="apply-button-{{ position_pk }}"
            data-url="{% url 'projects:newapp' %}">Apply</a>
          {% endif %}
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="grid-25 grid-push-5">
    <div class="circle--secondary--module">
      <h3>Project Needs</h3>
      <ul class="circle--link--list">
        {% select_distinct_positions_from_project as titles %}
        {% for title in titles %}
        <li><a href="#{{ title }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="circle--secondary--module">
      <h3>Project Timeline</h3>
      <p>{{ project.time_estimate }} hours</p>
    </div>

    <div class="circle--secondary--module">
      <h3>Applicant Requirements</h3>
      <p>{{ project.applicant_requirements}}</p>
    </div>

  </div>
</div>

{% endblock %}

{% block js %}
// Apply Button
$(".apply-button").click(function () {

    // get the csrf token for ajax request  
    
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  button = $(this)
  var dataurl = $(this).attr("data-url");
  var position_pk = $(this).attr("pk");
  console.log(position_pk, dataurl)

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });

  $.ajax({
        url: dataurl,
        data: {
          "position_pk": position_pk
        },
        dataType: 'json',
        method: 'POST',
        success: function (data) {
          if (data.updated) {
            button.replaceWith('<a class="button button-primary button-inactive">Applied!</a>');
          } else {
            alert("Error.", data.error);
          }
        }
      });
});
{% endblock %}