{% extends 'layout.html' %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% load markdown_deux_tags %}
{% load project_extras %}
{% csrf_token %}

{% block body %}

<!-- Top Buttons -->
  <div class="bounds">
    <div class="top-button-container">
      <a class="button" href="{% url 'projects:create_update_project' slug=project.slug %}">Edit Project</a>
      <a class="button" href="{% url 'projects:delete_project' slug=project.slug %}">Delete Project</a>
    </div>
  </div>
  
    <div class="project-spacer">
      <div class="project-title-container">
        <div class="bounds">
            <h3 class="">Project</h3>
            <h1 class="">{{ project.title }}</h1>
            <p class="">Project Owner: <a>{{ project.owner }}</a></p>
            <p>Project Status: 
              {% if project.status == 'A' %}
              <span class="status-{{ project.status }}">Open</span> 
              {% elif project.status == 'B' %}
              <span class="status-{{ project.status }}">Closed</span> 
              {% elif project.status == 'C' %}
              <span class="status-{{ project.status }}">Complete</span> 
              {% endif %}
            </p>
        </div>
      </div>
    </div>
      
    <div class="bounds">
    <div class="project-spacer">
        <div class="project-description-container">
            {{ project.description|markdown }}
          </div>
    </div>
      
    <div class="project-spacer">
        <div class="project-needs-container">
            <h3>Project Needs</h3>
            <ul class="project-needs-list">
              {% select_distinct_positions_from_project as titles %}
              {% for title in titles %}
              <li><a href="#{{ title }}">{{ title }}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>    
  </div>

    <div class="positions-container">
      <div class="positions-header">
          <h3>Positions</h3>
      </div>
      <div class="desktop-flex-wrapper">
      {% if project.position_set %} 
        {% for position in project.position_set.all %}
          <div class="position-card">
          <h3 id="{{ position.title }}">{{ position.title }}</h3>
          <p class="position-skill">{% for skill in position.skills.all|slice:":12" %}{% if forloop.last %} <a class="skill-text"
              href="{% url 'projects:dashboard' category='skill' q=skill %}">{{ skill }}</a>{% else %} <a
              class="skill-text" href="{% url 'projects:dashboard' category='skill' q=skill %}">{{ skill }}</a>
            {% endif %}{% endfor %}</p>

            <div class="position-description">{{ position.description|markdown|truncatewords:26 }}</div>
      
          <!-- Filled -->
          {% if position.status == 'F' %}
          <a class="button button-primary button-inactive">Position Filled</a>

          <!-- Empty-->
          {% else %}
          {% already_applied position as var %}
          {% if var == 'U' %}
          <a class="button button-primary button-inactive" style="cursor:default">You've applied.</a>
          {% elif var == 'A' %}
          <a class="button button-primary button-inactive" style="cursor:default"><i class="far fa-check-circle fa-lg"></i> 
          {% for app in completed %}
          {% if app.position == position %}
            {% if app.user == user %}
            You've been accepted
            {% else %}
            {{ app.user.first_name }} has been accepted
            {% endif %}
          {% endif %}
          {% endfor %}
          </a>
          {% elif var == 'R' %}
          <a class="button button-primary button-inactive" style="cursor:default"><i class="far fa-times-circle fa-lg"></i> You've been declined</a>
          {% else %}
          <a class="button button-primary apply-button" pk="{{ position.id }}" id="apply-button-{{ position_pk }}"
            data-url="{% url 'projects:newapp' %}">Apply</a>
          {% endif %}
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <div class="position-card">
          <p>there are currently no positions</p>
        </div>
        {% endif %}
        <div class="position-card hidden"></div>
        <div class="position-card hidden"></div>
    </div>
  </div>
    <div class="bounds">
        <div class="project-timeline">
            <h3>Project Timeline</h3>
            <p>{{ project.time_estimate }} hours</p>
          </div>
      
          <div class="applicant-req">
            <h3>Applicant Requirements</h3>
            <p>{{ project.applicant_requirements}}</p>
          </div>
    </div>
  
{% endblock %}

{% block js %}
{{ block.super }}

<!-- Apply button -->
<script>
$(".apply-button").click(function () {

    // get the csrf token for ajax request  
    
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  button = $(this)
  var dataurl = $(this).attr("data-url");
  var position_pk = $(this).attr("pk");
  console.log(position_pk, dataurl)

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });

  $.ajax({
        url: dataurl,
        data: {
          "position_pk": position_pk
        },
        dataType: 'json',
        method: 'POST',
        success: function (data) {
          if (data.updated) {
            button.replaceWith('<a class="button button-primary button-inactive">Applied!</a>');
            console.log("Application created: ", data.updated);
          } else {
            console.log("Application created: ", data.updated);
          }
        }
      });
});
</script>

{% endblock %}