{% extends 'layout.html' %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% load markdown_deux_tags %}
{% load project_extras %}
{% csrf_token %}

{% block body %}

<!-- Top Buttons -->
{% if project.owner == user %}
  <div class="bounds">
    <div class="top-button-container">
      <a class="bubble-dark" href="{% url 'projects:create_update_project' slug=project.slug %}">Edit Project</a>
      <a class="bubble-dark" href="{% url 'projects:delete_project' slug=project.slug %}">Delete Project</a>
    </div>
  </div>
  {% endif %}

      <div class="project-left-wrapper">
          <div class="bounds">
              <div class="card">
                  <h2 class="">{{ project.title }}</h2>
                  <p class="">Project Owner: <a>{{ project.owner }}</a></p>
                  <p>Project Status: 
                    {% if project.status == 'A' %}
                    <span class="status-{{ project.status }}">Open</span> 
                    {% elif project.status == 'B' %}
                    <span class="status-{{ project.status }}">Closed</span> 
                    {% elif project.status == 'C' %}
                    <span class="status-{{ project.status }}">Complete</span> 
                    {% endif %}
                  </p>
                </div>
        
                <div class="card">
                    <h3>Project Description</h3>
                    {{ project.description|markdown }}
                  </div>
        
                <div class="card">
                    <h3>Project Needs</h3>
                    <ul class="ul-list">
                      {% select_distinct_positions_from_project as titles %}
                      {% for title in titles %}
                      <li class="bubble-outline"><a href="#{{ title }}">{{ title }}</a></li>
                      {% endfor %}
                    </ul>
                </div>
                <div class="card">
                    <h3>Applicant Requirements</h3>
                    <p>{{ project.applicant_requirements}}</p>
                  </div>
                <div class="card">
                    <h3>Project Timeline</h3>
                    <p>{{ project.time_estimate }} hours</p>
                  </div>
              
                  
          </div>
      </div>
      
    
      <div class="bounds">
        <div class="card">
          <div class="positions-header">
              <h2>Positions</h2>
          </div>
          <div class="desktop-flex-wrapper">
          {% if project.position_set %} 
            {% for position in project.position_set.all %}
              <div class="mini-card">
              <h3 id="{{ position.title }}">{{ position.title }}</h3>
              <ul class="ul-list">
                {% for skill in position.skills.all|slice:":12" %}
                <li class="bubble-outline">
                  <a href="{% url 'projects:dashboard' category='skill' q=skill %}">{{ skill }}</a>
                </li>
                {% endfor %}
              </ul>
              <div class="position-description">{{ position.description|markdown|truncatewords:26 }}</div>
          
              <!-- Filled -->
              {% if position.status == 'F' %}
              <a class="bubble-dark" style="cursor:not-allowed">Position Filled</a>
    
              <!-- Empty-->
              {% else %}
              {% already_applied position as var %}
              {% if var == 'U' %}
              <a class="bubble-dark" style="cursor:not-allowed">You've applied.</a>
              {% elif var == 'R' %}
              <a class="bubble-dark" style="cursor:not-allowed">You can't apply again</a>
              {% else %}
              <a class="bubble-dark apply-button" pk="{{ position.id }}" id="apply-button-{{ position_pk }}"
                data-url="{% url 'projects:newapp' %}">Apply</a>
              {% endif %}
              {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <div class="mini-card">
              <p>there are currently no positions</p>
            </div>
            {% endif %}
            <div class="position-card hidden"></div>
            <div class="position-card hidden"></div>
        </div>
      </div>
    </div>
  
{% endblock %}

{% block js %}
{{ block.super }}

<!-- Apply button -->
<script>
$(".apply-button").click(function () {

    // get the csrf token for ajax request  
    
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  button = $(this)
  var dataurl = $(this).attr("data-url");
  var position_pk = $(this).attr("pk");
  console.log(position_pk, dataurl)

  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });

  $.ajax({
        url: dataurl,
        data: {
          "position_pk": position_pk
        },
        dataType: 'json',
        method: 'POST',
        success: function (data) {
          console.log(data);
          if (data.success) {
            button.replaceWith('<a class="bubble-dark">Applied!</a>');
          } else {
          }
        }
      });
});
</script>

{% endblock %}