{% extends 'layout.html' %}

{% load static %}

{% load markdown_deux_tags %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<!-- Secondary nav bar -->
<div class="bounds">
<div class="top-button-container">
      {% if user.id == user_profile.id %}
      <a class="button" href="{% url 'projects:applications' box='inbox' category='status' q='u' %}"><i class="far fa-comments"></i> Applications</a>
      {% endif %}
      {% if user.id == user_profile.id %}
      <a class="button icon-on-left" href="{% url 'accounts:updateuser' %}"><i class="fas fa-user-edit"></i> Edit</a>
      {% endif %}
  </div>
</div>

<!-- /Secondary nav bar -->
    
<div class="bounds profile-desktop-wrapper">

<!-- Avatar -->
<div class="circle--primary--avatar">
    {% if user_profile.avatar %}
    <img src="{{ user_profile.get_avatar_url }}" class="profile-profile-pic">
    {% endif %}
  </div>
  <h1>{{ user_profile }}</h1>
  <div class="circle--article--body">
    <p>{{ user_profile.about|markdown }}</p>
  </div>

 






    <!-- Skills -->
    <div class="circle--secondary--module">
        <h4>My Skills</h4>
        <ul class="ul-list-skills">
          {% for skill in user_profile.skills.all %}
              <li><a href="{% url 'projects:dashboard' category='skill' q=skill %}"><span
                class="skill-button">{{ skill }}</span></a></li>     
          {% endfor %}
        </ul>
        <div class="skill-bubble-footer">
          <p>See<a class="text-link" href="{% url 'projects:dashboard' category='skills' q='my-skills' %}">projects</a>that match your skills!
          </p>
        </div>
      </div>
    <hr>
      <!-- /Skills -->

       <!-- Portfolio projects -->
  <div class="profile-center-ul">
      <h4>My Portfolio</h4>
      <ul class="">
        {% for project in user_profile.portfolio_projects.all %}
        <li>{{ project.name }},<a href="#">{{ project.url }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <hr>
    <!-- /Portfolio projects -->

<div class="profile-center-ul">
  <h4>Past Projects</h4>

  {% if applications %}
  <ul class="">
  {% for application in applications %}
  <li>{{ application.position.title }}, {{ application.position.project }}</li>
  {% endfor %}
  {% else %}
  <p>You haven't completed any projects yet. <a href="{% url 'projects:dashboard' category='all' q='all' %}">See
      open projects!</a></p>
    </ul>
  {% endif %} 
</div>



    </div>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}