{% extends 'layout.html' %}

{% load static %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
<!-- Secondary nav bar -->
<div class="bounds">
<div class="top-button-container">
      {% if user.id == user_profile.id %}
      <a class="bubble-dark" href="{% url 'projects:applications' box='inbox' category='status' q='u' %}"><i class="far fa-comments"></i> Applications</a>
      {% endif %}
      {% if user.id == user_profile.id %}
      <a class="bubble-dark" href="{% url 'accounts:updateuser' %}"><i class="fas fa-user-edit"></i> Edit</a>
      {% endif %}
  </div>
</div>

<!-- /Secondary nav bar -->
    
<div class="bounds">
<div class="desktop-wrapper">
  <div class="desktop-wrapper-left">
<!-- Avatar -->
<div class="card">
<div class="avatar-large">
    {% if user_profile.avatar %}
    <img src="{{ user_profile.avatar.url }}" class="avatar-large">
    {% endif %}
  </div>
  <h2>{{ user_profile }}</h2>
  <div>
    {{ user_profile.about }}
  </div>
</div>

    <!-- Skills -->
    <div class="card">
        <h4>My Skills</h4>
        <ul class="ul-list">
          {% for skill in user_profile.skills.all %}
              <li class="bubble-outline"><a href="{% url 'projects:dashboard' category='skill' q=skill %}"><span
                class="skill-button">{{ skill }}</span></a></li>     
          {% endfor %}
          <li class="bubble-outline"><a href="{% url 'projects:dashboard' category='skills' q='my-skills' %}">projects that match your skills</a></li>
        </ul>
      </div>

      <!-- /Skills -->

       <!-- Portfolio projects -->
  <div class="card">
      <h4>My Portfolio</h4>
        {% for project in user_profile.portfolio_projects.all %}
        <div class="mini-card">
            <h4>{{ project.name }}</h4>
            <a href="#">{{ project.url }}</a>
        </div>
        {% endfor %}
    </div>
  </div>
    <!-- /Portfolio projects -->
<div class="desktop-wrapper-right">
<div class="card">
  <h4>Past Projects</h4>

  {% if applications %}
  <ul class="">
  {% for application in applications %}
  <li>{{ application.position.title }}, {{ application.position.project }}</li>
  {% endfor %}
  {% else %}
  <p>You haven't completed any projects yet. <a href="{% url 'projects:dashboard' category='all' q='all' %}">See
      open projects!</a></p>
    </ul>
  {% endif %} 
</div>
</div>
</div>
</div>

{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}