{% extends 'layout.html' %}

{% block messages %}
{{ block.super }}
{% endblock %}

{% block css %}
{% endblock %}


{% block body %}

<div class="bounds circle--page">
    {{ user_form.errors }}
        <div class="circle--page--header circle--fluid">
          <div class="circle--fluid--cell circle--fluid--primary">
            <h2>Profile</h2>
          </div>

          <form method="POST" id="userform_and_projectforms"
        enctype="multipart/form-data" action="">
          {% csrf_token %}
          <div class="circle--fluid--cell circle--fluid--secondary">
            <input type="submit" class="button button-primary icon-on-left" action="" value="Save Changes">
          </div>
        </div>
    
        <div class="grid-70">
            {{ user_form.first_name.label}}
            {{ user_form.first_name }}
            {{ user_form.last_name.label }}
            {{ user_form.last_name }} 
          <div class="circle--article--body">
            {{ user_form.about.label }}
            {{ user_form.about }}    
          </div>
    
          <h2>Past Projects</h2>
          <table class="u-full-width circle--table">
            <thead>
              <tr>
                <th>Project Title</th>
                <th class="circle--cell--right">Position</th>
                <th>Skills</th>
              </tr>
            </thead>
            <tbody>
              {% for application in applications %}
              <tr class="clickable-row" data-href="project.html">
                  <td>
                    <h3>{{ application.position.project.title }}</h3>
                  </td>
                  <td class="circle--cell--right">
                    <span class="secondary-label">{{ application.position }}</span>
                  </td>
                  <td>
                    {% for skill in application.position.skills.all %}
                    {{ skill }}
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    
        <div class="grid-25 grid-push-5">
    
          <div class="circle--secondary--module">
            <div class="circle--primary--avatar">
              <a class="button">
                Upload Photo
                <input type="file">
              </a>
            </div>
          </div>
    
          <div class="circle--secondary--module">
              
            <h4>My Skills</h4>   

                {{ user_form.skills }}
      
          </div>
    
          <div class="circle--secondary--module">
            <h4>My Projects</h4>

            

            <div class="project-cards">
              {{ project_formset.management_form }}
              {% for form in project_formset %}
              <div class="project-card" style="display:block">

                {{ form.name }}
                {{ form.url }}
                <span style="display:none">
                  {{ form.DELETE }}
                </span>
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <a class="circle--clone--remove" id="remove_form">- remove</a> 
                <hr>
              </div>
              {% endfor %}

              <div id="empty_form"  style="display:none">
                <div class="project-card" style="display:block">   
                    {{ project_formset.empty_form.name }}
                    {{ project_formset.empty_form.url }}
                    <span style="display:none">
                        {{ project_formset.empty_form.DELETE }}
                      </span>
                    {% for hidden in project_formset.empty_form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <a class="circle--clone--remove" id="remove_form">- remove</a> 
                    <hr>
                </div>
              </div>           
            </div>
            <a class="circle--clone--add" id="add_form">+ add</a> 
          </div>
        </div>
    </form>
      </div>


{{ user_form.media.js }}
{{ user_form.media.css }}
      
{% endblock %}
$(function () {
  var loadForm = function () {
      var btn = $(this);
      $.ajax({
          url: btn.attr("data-url"),
          type: 'get',
          dataType: 'json',
          beforeSend: function () {
              $('#id_company').djangoSelect2({multiple: true});
              $("#modal").modal("show");
          },
          success: function (data) {
              $("#modal .modal-content").html(data.html_product_form);
          }
      });
  };

  $("#product-add-button").click(loadForm);
});
{% block js %}

{% endblock %}