{% extends 'layout.html' %}

{% block messages %}
{% endblock %}

{% block body %}
<div class="bounds">
    <div class="flex-window-container">
        <div class="card">
          <div class="center-button-container">
              <h2>Register!</h2>
          </div>
      
      
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="center-button-container">
            <a class="bubble-dark" href="{% url 'login' %}">Sign In</a>
            <button type="submit" class="bubble-dark">Sign Up</button>
            
        </div>
      </form>
    </div>
    </div>
  </div>
{% endblock %}