// Layout

@use 'variables'; 

.ul-list {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
    }
}

.status-list {
    padding: 0;
    list-style: none;

    li {
        padding: 0.5rem;
    }
}

.text-align-center {
    text-align: center;
}

.bounds {
    padding: 0.5rem variables.$bounds;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.flex-h-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .bubble-dark:last-of-type {
        margin-right: 0;
    }
}

.flex-v-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bubble-dark:last-of-type {
        margin-right: 0;
    }
}

.flex-window-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 91px);
}

.top-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .bubble-dark:last-of-type {
        margin-right: 0;
    }
}

.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .bubble-dark {
        margin: 0.5rem; 
    }

    .bubble-dark:last-of-type {
        margin-right: 0;
    }
}

.select2 {
    margin: 1rem 0 0.5rem;
    
    .select2-selection--multiple {
        border: solid 1px lightgrey;
        min-height: 75px;
        padding: 4px 3px;
    }

    .select2-selection__choice {
        padding: 0.4rem 0.75rem !important;
        background: none  !important;
        border-radius: 0.3rem !important;
        border: solid 1px variables.$slate !important;
        margin: 0.25rem !important;
        cursor: pointer !important;
        color: variables.$slate;
    }

    .select2-selection__choice__remove {
        margin-right: 0.5rem !important;
        color: lightgray;
    }
}

.avatar-label {
    position: relative;

    .plus-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: white;
        border: solid 1px white;
        border-radius: 50%;
        color: variables.$slate;
        cursor: pointer;
    }
}

.desktop-wrapper {

    @media (min-width: variables.$desktop) {
        display: flex;

        .desktop-wrapper-left {
            flex: 1.5;
            display: flex;
            flex-direction: column;
            margin-right: 0.5rem;
        }
    
        .desktop-wrapper-right {
            flex: 2.5;
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;
        }
    }
   
}