<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Social Team Builder</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js" integrity="sha256-+Q/z/qVOexByW1Wpv81lTLvntnZQVYppIL1lBdhtIq0=" crossorigin="anonymous"></script>

  
  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="{% static 'js/autogrow.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/global.js' %}"></script>


  <!-- Additional
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% block css %}
  {% endblock %}

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'sass/css/style.css' %}">

<!-- Nav Bar -->
</head>
<body>
  <header class="header">
    <div class="bounds">
      <div class="flex-h-container">   
          <a class="logo" href="{% url 'projects:dashboard' category='all' q='all' %}"><i class="fab fa-connectdevelop fa-2x"></i> Social Team Builder</a>
          <div class="flex-h-container">
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:profile' pk=user.id %}">
                <img src="{{ user.avatar.url }}" alt="avatar" class="avatar-small" href="{% url 'accounts:profile' pk=user.id %}">
                </a>
            {% endif %}         
              <div>
                {% if user.is_authenticated %}
                    <a class="bubble-dark" href="{% url 'logout' %}">Sign Out</a>
                {% else %}
                    <a class="bubble-dark" href="{% url 'accounts:register' %}">Sign Up</a>
                    <a class="bubble-dark" href="{% url 'login' %}">Sign In</a>
                {% endif %}
              </div>
          </div>        
    </div>
    </div>
  </header>

  {% if searchform %}
  <div class="bounds">  
      <div class="search-bar">
          <form method="GET" action={% url 'projects:searchbar' %} id="search-bar">
              {% csrf_token %}
              {{ searchform.q }}
              <button type="submit">
              <i class="fas fa-search fa-lg"></i>
              </button>
          </form>
        </div>
    </div>
  {% endif %}
<!-- /Nav Bar -->

{% block body %}
{% endblock %}

 <!-- Message Container -->
 <!-- {% if messages %} -->
<div class="message-container">
  <ul>
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>


 <!-- {% endif %} -->
<!-- /Message Container -->

</body>

{% block js %}


{% endblock %}

</html>