{% extends 'layout.html' %}



{% block body %}
<div class="bounds">
  <div class="flex-window-container">
      <div class="card">
        <div class="center-button-container">
            <h2>Sign In</h2>
        </div>
      

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}



    <form method="post" action="{% url 'login' %}">
        <div class="flex-v-container">
        {% csrf_token %}
        {{ form.error }}
        {{ form }}
        <div class="center-button-container">
            <input class="bubble-dark" type="submit" value="login">
        </div>
        
        <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div class="center-button-container">
          <p></p>
            <a href="{% url 'password_reset' %}">Lost password?</a>
        </div>
    </form>
  </div>


{# Assumes you setup the password_reset view in your URLconf #}
</div>
  </div>
  
{% endblock %}
